<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quote Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://v4-alpha.getbootstrap.com/examples/cover/cover.css" rel="stylesheet">

</head>
<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand"><a href="/quotes/">Quote Generator</h3></a>
            <nav class="nav nav-masthead">
              <a class="nav-link active" href="/quotes/">Home</a>
            </nav>
          </div>
        </div>


{% block content %}
{% endblock content %}

</body>
</html>
